.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 10;
  display: flex;

  &__content {
    width: 60%;
    background: #fff;
    margin: auto;
    height: 40vh;
    padding: 15px;
    border-radius: 8px;
    position: relative;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 20px;
  }
}
